// import ignitus token variables
@import './src/shared/styles/ignitus-components-common.scss';
@import '../../signUp/Styles/style';

.interest {
  background-color: white;
  height: 65rem;
}

.checkboxes {
  margin-left: 2rem;
  margin-right: 2rem;
}

.interestsImage {
  height: 14rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 23rem;
}

.cbox {
  color: #4d4d4d;
  font-family: Raleway;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.4rem 2rem;
}

.checkboxContainer {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 0;
}

input {
  background: #c4c4c4;
  border-radius: 1rem;
  height: 1.6rem;
  width: 1.6rem;
}
