// import ignitus token variables
@import './src/shared/styles/ignitus-components-common.scss';
@import '../../profile/Styles/style.scss';

.interest {
  height: 60rem;
  background-color: white;
}

.checkboxes {
  padding-left: 10rem;
  padding-top: 2rem;
  width: 50%;
}

.interestsImage {
  width: 50%;
}

.cbox {
  padding: 0.4rem 8rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5rem;
  color: #4d4d4d;
}

.checkboxContainer {
  display: flex;
  padding: 5rem 0;
}

input {
  background: #c4c4c4;
  border-radius: 1rem;
  height: 1.6rem;
  width: 1.6rem;
}
