// import ignitus token variables
@import './src/shared/styles/ignitus-components-common.scss';
@import '../../signUp/Styles/style.scss';

.interest {
  height: 65rem;
  background-color: white;
}

.interestsImage {
  height: 15rem;
  width: 23rem;
}

.cbox {
  padding: 0.4rem 2rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5rem;
  color: #4d4d4d;
}

.checkboxContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 0;
  justify-content: center;
  align-content: center;
}

input {
  background: #c4c4c4;
  border-radius: 1rem;
  height: 1.6rem;
  width: 1.6rem;
}
