._align{
	text-align: center;
}

._started {
	font-size: 23px;
    font-weight: 400;
    margin-top: 70px;
    margin-bottom: 40px;
}

._aboutus{
	font-size: 16px;
    font-weight: 400;
    margin:40px auto;
}

._about{
	font-weight: 800 !important;
    font-size: 36px !important;
    color: #0d0465 !important;
    margin-top: 115px;
}

