// import ignitus token variables
@import './src/shared/styles/ignitus-components-common.scss';

.profile {
  height: 55rem;
  background-color: white;
}

.welcome {
  width: 100%;
  height: 57px;
  text-align: center;
  margin-top: 4rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1rem;
  color: #000066;
}

.progressBarSignup {
  padding-left: 10rem;
  padding-top: 4rem;
  padding-right: 10rem;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.paragragh {
  text-align: center;
  width: 100%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1rem;
  color: #2d2d2d;
}

.infoContainer {
  display: flex;
  width: 100%;
  height: 25rem;
}

.labelDropdown {
  font-family: Raleway;
  font-style: normal;
  font-weight: 0.8rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #000066;
  width: 50%;
  margin-left: 8rem;
  margin-top: 2rem;
}

.dropdown {
  border: 2px solid #000066;
  box-sizing: border-box;
  border-radius: 6px;
  width: 25rem;
  height: 2rem;
  margin-left: 8rem;
  background-color: white;
  padding: 0.1rem;
  padding-left: 0.8rem;
  font-size: 0.8rem;
}

.profileImageMap {
  width: 50%;
  padding: 0.8rem;
  margin-left: 1.6rem;
}

div.profileImageMap > img {
  margin-left: -16rem;
  margin-top: -5.5rem;
}

.saveButton {
  background: #000066;
  border-radius: 38rem;
  width: 12rem;
}

.saveText {
  color: #ffffff;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.8rem;
}

.skip {
  font-family: Raleway;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6rem;
  width: 100%;
  text-align: center;
  color: #4d4d4d;
}

option {
  font-family: Raleway;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 0.8rem;
  line-height: 0.8rem;
}
