//Ignitus utility classes

.bg-triangle {
  background: url('/images/splitBlueBackground.png') no-repeat;
  background-size: 70%;
  background-position: top right;
}

.content-container {
  margin-top: 4rem;
}

.title {
  font-weight: $ignite-font-weight-normal;
  font-size: $ignite-font-size-lg;
  color: $ignite-text-color-heading;
}