// import ignitus token variables
@import './ignitus-tokens.scss';

.container-custom {
  max-width: 800px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.img {
  width: 150px;
  height: 150px;
}

.border-rad {
  border-radius: 15px;
  margin-top: 10%;
}

.or-seperator {
  text-align: center;
  border-top: 1px solid $ignite-color-neutral-80;
}

.envelope-color {
  color: $ignite-color-white;
}
.key-color {
  color: $ignite-color-white;
}

.span-bg {
  background: #010071;
  // border-radius: 10px 0px 0px 10px ;
  border: 1px solid #010071;
}

.or-seperator i {
  background: $ignite-color-white;
  padding: 0 10px;
  position: relative;
  top: -11px;
  z-index: 1;
}

.password-border {
  border-radius: 0 10px 10px 0;
}

.email-border {
  border-radius: 0 10px 10px 0;
}

.container-form {
  background: $ignite-color-white;
  border: 1px solid $ignite-color-white;
  // border-radius: 0px 15px 15px 0px;
}

.button-bg {
  background: #010071;
  border-color: #010071;
  border-radius: 10px;
}

.button-bg:hover {
  background: #060591;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vw;
}

.img-login {
  flex-basis: 57%;
  margin: 9%;
}

.text-below-image {
  background-color: $ignite-color-blue-97;
  flex-basis: 43%;
  border: 1px solid $ignite-color-blue-97;
  // border-radius: 0px 0px 0px 15px;
}

.text-below-image {
  p {
    &:nth-child(1) {
      font-size: $ignite-font-size-md;
    }

    &:nth-child(2) {
      font-size: $ignite-font-size-sm;
      margin-top: 2px;
    }
  }
}

.container-image {
  background: $ignite-color-blue-97;
  border: 1px solid #fac76f;
  display: flex;
  flex-direction: column;
  // border-radius: 15px 0px 0px 15px;
}

.btn-linkedin {
  background: #010071;
  border-color: #010071;
  border-radius: 10px;
}

.btn-linkedin:hover {
  background: #060591;
}

.container-bg {
  padding-bottom: 3rem;
  // background: #000066;
}

.margin-Top {
  margin-top: 15px;
}

.linkform {
  text-decoration: none;
  color: #010071;
  font-weight: bolder;

  &:hover {
    text-decoration: underline;
    color: #060591;
  }
}

.alert {
  text-align: center;
  border-radius: 10px;
  font-weight: lighter;
}
.alert-danger {
  background-color: rgb(238, 21, 14);
  color: $ignite-color-white;
}

.alert-success {
  background-color: $ignite-color-green;
  color: $ignite-color-white;
}

.password-visiblity-icon {
  cursor: pointer;
}
