._align{
	text-align: center;
}

._intro{
	font-size: 55px;
    font-weight: 500;
    margin-top: 30px;
}

._ignitus{
	font-size: 65px;
    font-weight: 600;
    margin-top: 20px;
    color: #192b65;
}

._tagline{
	font-size: 40px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 40px;
}

._content{
    font-size: 25px;
    font-weight: 300;
    margin-top: 35px;
    margin-bottom: 50px;
}

.box {
	background: #f3f3f2;
}

._border{
    border: 1px solid black;
}
.mt-4{
    margin-top: 4.5rem!important;
}