{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*test.js", "setupTests.js"
      ],
      "env": {
        "jest": true
      },
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}