*.gif
*.jpeg
*.jpg
*.log
*.png
*.tgz
*.yml
*.yaml
.DS_Store
.cache/
.env
.eslintcache
.npm
.vscode/
__generated__!
build/
coverage/
dist/
logs
node_modules/
npm-debug.log*
package.json
public/
yarn-debug.log*
yarn-error.log*
