@import './src/shared/styles/ignitus-tokens.scss';

.menu-container{
    width: 276px;
    height: 121px;
    display: flex;
    background: $ignite-color-white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    flex-wrap: wrap;
}

.menu-link{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: $ignite-color-gray-20;
    margin: 5px;
    padding: 10px;
}

.menu-link:hover{
    color: $ignite-color-blue-20;
    cursor: pointer;
}

.menu-footer{
    color: $ignite-color-blue-bg;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    border-bottom: 12px;
    margin: 10px auto;
}