// import ignitus token variables
@import './src/shared/styles/ignitus-tokens.scss';

._container {
	width: 400px;
}

._img {
	width: 150px;
	height: 150px;
}

._or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid $ignite-color-neutral-80;

    i {
      padding: 0 10px;
      background: $ignite-color-white;
      position: relative;
      top: -11px;
      z-index: 1;
  }
}
