// import ignitus token variables
@import './src/shared/styles/ignitus-tokens.scss';

.logoCss {
  margin-top: 3%;
  margin-bottom: 4%;
}

.heart {
  color: $ignite-color-red-47;
}

.studentsResearchers {
  font-size: $ignite-font-size-sm;
  font-weight: $ignite-font-weight-light;
  text-align: -webkit-center;
}

.contributor {
  font-weight: $ignite-font-weight-normal;
  font-size: $ignite-font-size-lg;
  color: $ignite-color-blue-bg;
}

.centered-image {
  vertical-align:middle;
  text-align:center;
  justify-content: center;
  align-items: center;
}

.card {
  .logoCss {
    /* Prevent different heights for each logos */
    height: 100px;
    img {
      max-width: 100%;
      height: 75%;
      object-fit: cover;
    }
  }
}

.contributor-card {
  border-radius: 16px !important;
  border-width: 0px !important;
}

.card_row {
    margin-right: 88px !important;
    margin-left: 88px !important;
}