// import ignitus token variables
@import './src/shared/styles/ignitus-components-common.scss';
@import '../../signUp/Styles/style';

.email {
  background-color: white;
  height: 52rem;
}

.newsletter > img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.emailConfirmContainer {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}

.emailConfirmContainer > button {
  border-radius: 9px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  height: 2.5rem;
  margin: 0.5rem;
  width: 12rem;
}

.emailConfirmed {
  background: #000066;
}

.noEmail {
  background: #ffffff;
}

.emailConfirmedText {
  color: #ffffff;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.8rem;
}

.noEmailText {
  color: #000066;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.8rem;
}
