// import ignitus token variables
@import './src/ignitus-Shared/styles/ignitus-tokens';


.content-container {
	margin-top: 0 !important;
}

.ignitus {
	font-size: $ignite-font-size-xxl;
  font-weight: $ignite-font-weight-bold;
  margin-top: 1rem;
  color: $ignite-text-color-brand;
}

.tagline {
  font-size: $ignite-font-size-lg;
  font-weight: $ignite-font-weight-normal;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}
.content {
  font-size: $ignite-font-size-md;
  font-weight: $ignite-font-weight-light;
}

.intro__wrapper {
	background: url('https://storage.googleapis.com/ignitus_assets/ig-assets/splitBlueBackground.png') no-repeat;
	background-size: 70%;
	background-position: top right;
  height: 67.5rem;
	position: relative;
	z-index: 0;

	@media (max-width: 945px){
		& {
			height: 75rem;
		}
	}

	@media (max-width: 751px) {
		& {
			height: 100%;
		}
	}

	@media (max-width: 568px) {
		& {
			margin-bottom: 0;
		}
	}
}

.intro {
  background: -webkit-linear-gradient(45deg, $ignite-color-blue-20 38.75%, $ignite-color-white 38.75% 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: $ignite-font-size-xxl + 18px;
  font-weight: $ignite-font-weight-medium;
  letter-spacing: 4px;
  margin-top: 4rem;
  padding-top: 10%;
  position: relative;
  -webkit-text-fill-color: transparent;
  z-index: 3;

	@media (min-width: 992px) {
		margin-top: 0;
	}

	@media (max-width: 1145px) {
		& {
			background: -webkit-linear-gradient(45deg, $ignite-color-blue-20 40%, $ignite-color-white 40% 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
		}
	}

	@media (max-width: 892px) {
		& {
			background: -webkit-linear-gradient(45deg, $ignite-color-blue-20 41%, $ignite-color-white 41% 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
		}
	}

	@media (max-width: 800px) {
		& {
			background: -webkit-linear-gradient(45deg, $ignite-color-blue-20 46.5%, $ignite-color-white 46.5% 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
		}
	}

	@media (max-width: 682px) {
		& {
			background: -webkit-linear-gradient(42deg, $ignite-color-blue-20 49%, $ignite-color-white 49% 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
		}
	}

	@media (max-width: 568px) {
		& {
			background: -webkit-linear-gradient(42deg, $ignite-color-blue-20 51%, $ignite-color-white 51% 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
		}
	}
}

.intro__torch {
	position: absolute;
	top: 7%;
	right: 3%;
  height: auto;
	width: 22%;
  z-index: 1;
}

.intro__content {
	display: flex;
	flex-direction: column;
  margin-top: 3rem;
}

.intro__content--upper {
	font-size: $ignite-font-size-md + 8px;
  max-width: 60%;
  padding: 7rem 5.5rem 3rem;


  @media (max-width: 751px) {
		& {
			font-size: $ignite-font-size-md;
			max-width: 100%;
			padding: inherit 0 inherit 0;
		}
	}
}

.intro__content--lower {
	display: flex;
	justify-content: center;
	font-size: $ignite-font-size-md;

  @media (max-width: 945px) {
		& {
			flex-direction: column;
			align-items: center;
      max-width: 90%;
		  text-align: center;
      margin-left: 1rem;

			img {
				margin-top: 1.5rem;
			}
		}

    @media (max-width: 751px) {
			& {
				flex-direction: column-reverse;
				img {
					margin: 0 auto;
					display: block;
				}
			}
		}

		@media (max-width: 568px) {
			& {
				img {
					display: none;
				}
			}
		}
	}

	img {
		margin-left: 12.5rem;
	}
}

.content--lower__signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	a button {
    background-color: $ignite-text-color-brand !important;
		color: $ignite-color-white !important;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    width: 100%;
      
    &:hover {
			background-color: #F9BF64 !important;
		}
	}
}

.bold-txt {
	font-weight: $ignite-font-weight-bold;
}

.border {
  border: $ignite-border-default;
}

