// import ignitus token variables
@import "./src/ignitus-shared/styles/ignitus-components-common";

$background-color: #fac76f;
$white-color: #ffffff;

.m-top {
  margin-top: 8%;
}

.login-signup {
  color: $white-color;
  text-align: center;
}

.common-auth-ui-css {
  background-color: $background-color;
  border-radius: 20px;
  box-shadow: $white-color 6px 6px 1px;
  cursor: pointer;
  min-height: 375px;
  text-align: center;
  // min-width: 320px;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 500ms;
    // transform: rotateY(360deg);
  }

  @media only screen and (max-width: 575px) {
    box-shadow: none;
    margin: 0 auto;
    max-width: 150px;
    min-height: 15em;
  }

  @media only screen and (max-width: 375px) {
    margin: 0;
    margin-left: 20px;
  }
}

.box-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.common-ui-text {
  color: $white-color;
  font-weight: bold;
  margin-top: 10px;
}
