.box-model .Contributors.m-top {
  margin-top: 0;
}

.box-model .Contributors.m-top .Contributor {
  width: 8rem;
  height: 10rem;
  background: none;
  margin: 10px;
}
* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
}

.box-model .Contributors.m-top .Contributor img {
  border-radius: 50%;
  border: 4px solid #17b8be;
  box-shadow: 0 0 0 #17b8be;
  transition: border 0.5s, box-shadow 0.5s;
}

.box-model .Contributors.m-top .Contributor span {
  display: block;
  font-size: 1rem;
  position: absolute;
  margin-left: -8px;
  bottom: 0;
  color: #494949;
  text-align: center;
  text-shadow: none;
  width: 8rem;
}

.box-model .Contributors.m-top .Contributor:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: calc(8rem - 10px);
  height: calc(8rem - 10px);
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: unset;
}

.box-model .Contributors.m-top .Contributor:hover img {
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 20px #17b8be;
}

.Contributors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Contributors .Contributor {
  width: 10rem;
  height: 10rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}

.Contributors .Contributor span {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 3px 3px 3px #000;
}

.Contributors .Contributor img {
  opacity: 0.9;
  transition: opacity 0.25s ease-in;
}

.Contributors .Contributor:hover img {
  opacity: 1;
}

.box-model {
  max-width: 80rem;
  width: 100%;
}

.m-top {
  margin-top: 1rem;
}
