// import ignitus token variables
@import './src/shared/styles/ignitus-tokens.scss';
.about-wrapper {
	font-size: $ignite-font-size-sm;
	font-weight: $ignite-font-weight-normal;
	background: url('https://storage.googleapis.com/ignitus/Assets/split-blue-background.png') no-repeat;
	background-size: 70%;
	background-position: top right;
}

.about {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	margin-top: 30px;
}
