// import ignitus token variables
@import '../../../../ignitus-Shared/styles/ignitus-components-common.scss';


.email {
  background-color: white;
  height: 52rem;
}

.newsletter > img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.welcome {
  color: #000066;
  font-family: Raleway;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  margin-top: 3rem;
  text-align: center;
  width: 100%;
}

.paragraph {
  color: #2d2d2d;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  width: 100%;
}

.progressBarSignup {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 4rem;
}

.emailConfirmContainer {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}

.emailConfirmContainer > button {
  border-radius: 9px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  height: 2.5rem;
  margin: 0.5rem;
  width: 12rem;
}

.emailConfirmed {
  background: #000066;
}

.noEmail {
  background: #ffffff;
}

.emailConfirmedText {
  color: #ffffff;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.8rem;
}

.noEmailText {
  color: #000066;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.8rem;
}
