@import './src/ignitus-Shared/styles/ignitus-tokens';
@import './src/ignitus-Shared/styles/ignitus-mixins';
$ignite-font-family-default: 'Raleway', sans-serif;
$ignite-color-blue-24: #192b65;
$ignite-font-weight-semibold: 600;
$ignite-font-size-sm: 16px;

.testimonial {
  .testimonials-title {
    font-family: $ignite-font-family-default;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    color: #000066;
    color: #000066;
  }

  .testimonial-wrapper {
    align-items: center;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
  }

  .carousel-content {
    padding: 1em;
    text-align: center;
    width: auto;
  }

  .text-box  p {
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
  }


  .text-box::before {
    color: $ignite-color-blue-24;
    content: "\f10d";
    display: inline-block;
    font-family: "FontAwesome";
    vertical-align: top;
  }

  .text-box::after {
    color: $ignite-color-blue-24;
    content: "\f10e";
    display: inline-block;
    font-family: "FontAwesome";
    vertical-align: bottom;
  }

  .avatar {
    margin-bottom: 0.5em;

    img {
      border-radius: 100%;
      height: 15.5vh;
    }
  }

  .name {
    font-size: 18px;
    font-weight: $ignite-font-weight-semibold;
    margin-bottom: 0;
    text-align: center;
  }

  .designation {
    font-size: $ignite-font-size-sm;
    text-align: center;
  }

  .nav-avatar {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 5.5vh;

    img {
      border-radius: 100%;
      height: 3.5vh;
      margin-right: 0.3em;
    }
    
    img:hover {
      border: 1px solid #192b65;
      height: 5vh;
      transition: ease 0.8s;
    }
  }

  @media only screen and (max-width: 596px) {
    display: none;
  }
}
