@import './src/ignitus-Shared/styles/ignitus-tokens';
@import './src/ignitus-Shared/styles/ignitus-mixins';
$ignite-font-family-default: 'Raleway', sans-serif;
$ignite-color-blue-24: #192b65;
$ignite-font-weight-semibold: 600;
$ignite-font-size-sm: 16px;

.testimonial {
  .testimonials-title {
    font-family: $ignite-font-family-default;
    text-align: center;
  }

  .testimonial-wrapper {
    align-items: center;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
  }

  .carousel-content {
    padding: 1em;
    text-align: center;
    width: 70%;
  }

  .text {
    position: relative;
  }

  .text p {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
  }

  .text::before {
    color: $ignite-color-blue-24;
    content: '\f10d';
    font-family: 'FontAwesome';
    left: 19%;
    position: absolute;
    top: -30%;
  }

  .text::after {
    content: '\f10e';
    color: $ignite-color-blue-24;
    font-family: 'FontAwesome';
    position: absolute;
    right: 19%;
    top: 60%;
  }

  .avatar {
    margin-bottom: 0.5em;

    img {
      border-radius: 100%;
      height: 15.5vh;
    }
  }

  .name {
    font-size: 18px;
    font-weight: $ignite-font-weight-semibold;
    margin-bottom: 0;
    text-align: center;
  }

  .designation {
    font-size: $ignite-font-size-sm;
    text-align: center;
  }

  .nav-avatar {
    display: flex;
    justify-content: center;

    img {
      border-radius: 100%;
      height: 4vh;
      margin: 5px;
    }
    img:hover {
      border: 1px solid #192b65;
      height: 4.5vh;
      transition: height ease 0.5s;
    }
  }

  @media only screen and (max-width: 576px) {
    display: none;
  }
}
