// import ignitus token variables
@import './src/shared/styles/ignitus-tokens.scss';

.testimonials {
  text-align: center;
  font-weight: $ignite-font-weight-normal;
  font-size: $ignite-font-size-md;
  color: $ignite-color-blue-bg;
}

.author-source-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
}

.carousel-container {
  display: flex;
  flex-wrap: nowrap;
  min-height: 210px;
}

.carousel {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 210px;
}

.carousel__slide {
  display: none;
  width: 93%;
  max-width: 700px;
  max-height: 500px;
  list-style-type: none;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 12px;
}

@media (max-width: 991px) {
  .carousel__slide {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.carousel__slide--active {
  display: block;
  box-sizing: border-box;
  background-color: white;
  padding: 30px 40px;
  box-shadow: 0 0 30px 2px rgba(#888888, 0.76);
}

.carousel-slide__content {
  font-style: italic;
  margin-bottom: 19px;
  font-family: 'Raleway', sans-serif;
  font-size: $ignite-font-size-md;
}

@media (max-width: 991px) {
  .carousel-slide__content {
    font-size: $ignite-font-size-sm;
  }
}

.carousel-slide__author,
.carousel-slide__source {
  font-family: $ignite-font-family-default;
  font-size: $ignite-font-size-xs;
  color: $ignite-color-black;
  text-align: left;
}

@media (min-width: 992px) {
  .carousel-slide__author,
  .carousel-slide__source {
    font-size: $ignite-font-size-sm;
    color: $ignite-color-black;
  }
}

.carousel-slide__source {
  color: $ignite-color-neutral-53;
}

.carousel__arrow {
  display: block;
  color: $ignite-color-neutral-6;
  cursor: pointer;
  opacity: .75;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: .5;
  }
}

.carousel__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;

  li {

    &:nth-of-type(n + 2) {
      margin-left: 9px;
    }
  }
}

.carousel__indicator {
  display: block;
  width: 24px;
  height: 3px;
  background-color: $ignite-color-neutral-6;
  cursor: pointer;
  opacity: .15;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

  &:hover {
    opacity: .5;
  }
}

.carousel__indicator--active {
  opacity: .75;

  &:hover {
    opacity: .75;
  }
}

.custom_css {
  margin: 7%;
}

.padding-on-left {
  padding-left: 10px;
}

.padding-on-right {
  padding-right: 10px;
}

._bg{
  background: $ignite-color-neutral-95;
  height: 315px;
}
