// import ignitus token variables
@import "./src/ignitus-shared/styles/ignitus-tokens";
@import "./src/ignitus-shared/styles/ignitus-mixins";

.testimonial {
  .testimonials-title {
    text-align: center;
  }
  .testimonial-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .left-arrow {
      margin-right: 2em;
      margin-left: 2em;
    }

    .right-arrow {
      margin-left: 2em;
    }

    .carousel-content {
      width: 70%;
      padding: 1em;

      .testimonial-text {
        font-size: 1em;
        font-style: italic;
        font-weight: 200;
        text-align: center;
      }

      .name {
        text-align: center;
        margin-top: 2em;
        font-weight: 600;
        margin-bottom: 0em;
        font-size: 18px;
      }

      .designation {
        font-size: 16px;
        text-align: center;
      }
    }
  }
  @media only screen and (max-width:576px){
    display: none;
  }
}

.arrow {
  height: 2em;
  width: 2em;
  margin-right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: darkblue;
  color: white;
  cursor: pointer;
}