// import ignitus token variables
@import './src/shared/styles/ignitus-tokens.scss';

.intro {
	font-size: $ignite-font-size-xl;
  font-weight: $ignite-font-weight-medium;
  margin-top: 30px;
}
.ignitus {
	font-size: $ignite-font-size-xxl;
  font-weight: $ignite-font-weight-bold;
  margin-top: 15px;
  color: $ignite-text-color-brand;
}

.tagline {
	font-size: $ignite-font-size-lg;
  font-weight: $ignite-font-weight-normal;
  margin-top: 25px;
  margin-bottom: 40px;
}
.content {
  font-size: $ignite-font-size-md;
  font-weight: $ignite-font-weight-light;
  margin-bottom: 50px;
}

.box {
	background: transparent;
}

.ignitus-bg {
	border: 1px solid red;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 65vw 100vh 0;
	border-color: transparent #007bff transparent transparent;

	position: absolute;
	top: 0;
	right: 0;

	z-index: -9001;
}

.border {
  border: $ignite-border-default;
}
