// import ignitus token variables
@import './src/shared/styles/ignitus-tokens.scss';

.content-container {
	margin-top: 0 !important;
}

.ignitus {
	font-size: $ignite-font-size-xxl;
  font-weight: $ignite-font-weight-bold;
  margin-top: 15px;
  color: $ignite-text-color-brand;
}

.tagline {
	font-size: $ignite-font-size-lg;
  font-weight: $ignite-font-weight-normal;
  margin-top: 25px;
  margin-bottom: 40px;
}
.content {
  font-size: $ignite-font-size-md;
  font-weight: $ignite-font-weight-light;
  margin-bottom: 50px;
}

.intro__wrapper {
	background: url('https://storage.googleapis.com/ignitus/Assets/split-blue-background.png') no-repeat;
	background-size: 70%;
	background-position: top right;

	height: 1200px;

	position: relative;
	z-index: 0;

	@media (max-width: 751px) {
		& {
			margin-bottom: 150px;
			height: 100%;
		}
	}

	@media (max-width: 568px) {
		& {
			margin-bottom: 0px;
		}
	}
}

.intro {
	 background: -webkit-linear-gradient( 45deg, $ignite-color-blue-20 38.75%, $ignite-color-white 38.75% 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: $ignite-font-size-xxl + 18px;
  font-weight: $ignite-font-weight-medium;
	letter-spacing: 4px;

	margin-top: 66px;
	padding-top: 10%;
	position: relative;
	z-index: 3;

	@media (min-width: 992px) {
		margin-top: 0;
	}

	@media (max-width: 1145px) {
		& {
			background: -webkit-linear-gradient( 45deg, $ignite-color-blue-20 40%, $ignite-color-white 40% 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	@media (max-width: 892px) {
		& {
			background: -webkit-linear-gradient( 45deg, $ignite-color-blue-20 41%, $ignite-color-white 41% 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	@media (max-width: 800px) {
		& {
			background: -webkit-linear-gradient( 45deg, $ignite-color-blue-20 46.5%, $ignite-color-white 46.5% 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	@media (max-width: 682px) {
		& {
			background: -webkit-linear-gradient( 42deg, $ignite-color-blue-20 49%, $ignite-color-white 49% 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	@media (max-width: 568px) {
		& {
			background: -webkit-linear-gradient( 42deg, $ignite-color-blue-20 51%, $ignite-color-white 51% 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.intro__torch {
	position: absolute;
	top: 7%;
	right: 3%;

	height: auto;
	width: 22%;

	z-index: 1;
}

.intro__content {
	display: flex;
	flex-direction: column;

	margin-top: 50px;
}

.intro__content--upper {
	font-size: $ignite-font-size-md + 8px;

	max-width: 60%;
	padding: 110px 90px 45px 90px;


	@media (max-width: 751px) {
		& {
			font-size: $ignite-font-size-md;
			max-width: 100%;
			padding: inherit 0 inherit 0;
		}
	}
}

.intro__content--lower {
	display: flex;
	justify-content: center;
	font-size: $ignite-font-size-md;

	@media (max-width: 945px) {
		& {
			flex-direction: column;
			align-items: center;

			max-width: 90%;
			text-align: center;

			margin-left: 15px;

			img {
				margin-top: 25px;
			}
		}

		@media (max-width: 751px) {
			& {
				flex-direction: column-reverse;
				img {
					margin: 0 auto;
					display: block;
				}
			}
		}

		@media (max-width: 568px) {
			& {
				img {
					display: none;
				}
			}
		}
	}

	img {
		margin-left: 75px;
	}
}

.content--lower__signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	a button {
		margin-top: 30px;
		width: 100%;
		padding: 8px 15px;

		background-color: $ignite-text-color-brand !important;
		color: $ignite-color-white !important;

		&:hover {
			background-color:  #F9BF64 !important;
		}
	}
}

.bold-txt {
	font-weight: $ignite-font-weight-bold;
}

.border {
  border: $ignite-border-default;
}
