// import ignitus token variables
@import './src/ignitus-Shared/styles/ignitus-tokens';

.container-404 {
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        width: 70vw;
        color: $ignite-color-blue-bg;
    
        p {
            color: blue;
    
            a {
                color: inherit;
                text-decoration: underline;
            }
            a:active, a:hover, a:visited {
                color: inherit;
            }
        }
    }
}
