// import ignitus token variables
@import "./src/ignitus-Shared/styles/ignitus-tokens";

.banner {
  // background-color: $ignite-color-neutral-97;
  padding-bottom: 10px;
  padding-top: 6rem;
  width: 100%;
}
.bannerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.maintenanceHeading {
  color: $ignite-color-blue-bg;
  font-family: $ignite-font-family-default;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2rem;
  margin-top: 1.2rem;
  line-height: 56px;
  text-align: center;
}
.maintenanceText {
  color: $ignite-color-blue-bg;
  font-family: $ignite-font-family-default;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  margin: 0;
  text-align: center;
}
