// import ignitus token variables
@import "./src/ignitus-Shared/styles/ignitus-tokens";

.banner {
  padding-bottom: 2rem;
  padding-top: 6rem;
  width: 100%;
}

.banner-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.maintenance-heading {
  color: $ignite-color-blue-bg;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2rem;
  margin-top: 1.2rem;
  line-height: 56px;
  text-align: center;
}

.maintenance-text {
  color: $ignite-color-blue-bg;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  margin: 0;
  text-align: center;
}
