// import ignitus token variables
@import '../../../../ignitus-Shared/styles/ignitus-components-common.scss';

.signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

.welcome {
  color: #000066;
  font-family: Raleway;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  margin-top: 3rem;
  text-align: center;
  width: 100%;
}

.progressBarSignup {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 4rem;
}

.paragraph {
  color: #2d2d2d;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  width: 100%;
}

.infoContainer {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}

.labelDropdown {
  color: #000066;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 0.8rem;
  line-height: 1rem;
  padding-left: 0.1rem;
  margin-top: 2rem;
  width: 50%;
}

.dropdown {
  background-color: #ffffff;
  border: 2px solid #000066;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 0.8rem;
  height: 2rem;
  padding-left: 0.1rem;
  width: 20rem;
}

.profileImageMap {
  height: 18rem;
  margin-top: 1.5rem;
  width: 26rem;
}

.saveButton {
  background: #000066;
  border-radius: 38rem;
  width: 12rem;
}

.saveText {
  color: #ffffff;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.8rem;
}

.skip {
  color: #4d4d4d;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.6rem;
  text-align: center;
  width: 100%;
}

option {
  font-family: Raleway;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 0.8rem;
  line-height: 0.8rem;
}
