// import ignitus token variables
@import './src/shared/styles/ignitus-tokens.scss';

.link {
	color: $ignite-color-white;
	font-size:  $ignite-font-size-sm;

  &:hover {
    color: $ignite-color-yellow;
    text-decoration: none;
  }
}

.heading {
	color: $ignite-color-white;
	font-weight: $ignite-font-weight-bold;
}

.img-css {
	width: 100px;
	height: 100px;
	align-self: middle;
	margin:50px 20px;
}

.social-icon {
	color: $ignite-color-white;
}

.pd-left {
	padding-left: 22px;
}

.footer-bg {
	background-color: $ignite-color-blue-bg;
}

#footer-bg-id {
	margin-top: 0 !important;
}
