// import ignitus token variables
@import './src/shared/styles/ignitus-tokens.scss';

.title-name {
  font-weight: $ignite-font-weight-medium;
  font-size: $ignite-font-size-sm;
}

.title-position {
  font-weight: $ignite-font-weight-light;
  font-size: $ignite-font-size-xs;
  color: $ignite-color-neutral-60;
}


#team-avatar-card:hover {
  transform: scale(1.05);
  transition-duration: 1000ms;
  cursor: pointer;
  position: absolute;
  z-index: 100;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
  justify-content: space-evenly;
}

.team-sm-icon-color {
  color: black;
}

.team-card {
  margin: 0.5em 0.5em;
  @media only screen and (min-width: 576px) {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  @media only screen and (min-width: 768px) {
    flex: 0 0 25%;
    max-width: 25%;
  }

  @media only screen and (min-width: 992px) {
    flex: 0 0 23%;
    max-width: 23%;
  }
}

.rounded-img {
  border-radius: 100%;
  width: 7em;
}
