// import ignitus token variables
@import './src/shared/styles/ignitus-components-common.scss';
@import '../../signUp/Styles/style';
@import '../../email/Styles/style';

.emailConfirm {
  background-color: white;
  height: 43rem;
}

.newsletter > img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.getStarted {
  background: #000066;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  height: 2rem;
  margin-top: 1.6rem;
  width: 10rem;
}
