

._logo_css{
	margin-top: 3%;
    margin-bottom: 4%;
}

._heart{
	color: #c52e32;
}

._students_researchers{
	font-size: 21px;
    font-weight: 200;
}

._align{
	text-align: center;
}

._contributor{
	font-weight: 800 !important;
    font-size: 36px !important;
    color: #0d0465 !important;
}

._align-vertically {
	align-items: center;
}