// import ignitus token variables
@import './src/shared/styles/ignitus-tokens.scss';

#partners{
	margin: 80px 0px;
}

.logoCss {
	margin-top: 3%;
	margin-bottom: 4%;
}

.heart {
	color: $ignite-color-red-47;
}

.studentsResearchers {
	font-size: $ignite-font-size-sm;
	font-weight: $ignite-font-weight-light;
}

.partners{
	font-weight: $ignite-font-weight-normal;
	font-size: $ignite-font-size-lg;
	color: $ignite-color-blue-bg;
}

.centered-image {
	vertical-align:middle;
	text-align:center;
	justify-content: center;
	align-items: center;
}

.card {
	.logoCss {
	  /* Prevent different heights for each logos */
	  height: 100px;
	  img {
			max-width: 100%;
			height: 75%;
	  }
	}
}

.contributor-card {
  border-radius: 16px !important;
  border-width: 0px !important;
}
