.align{
	text-align: center;
}

.started {
	font-size: 23px;
    font-weight: 400;
    margin-top: 70px;
    margin-bottom: 40px;
}

.button {
	margin-bottom: 50px;
	background-color: white;
	color:#343a40 ;
	text-decoration: none;
	border: 2px solid #343a40 !important;
}

.button:hover {
	text-decoration: none;
	color: white;
	background-color: #343a40;
}


