// import ignitus token variables
@import './src/shared/styles/ignitus-tokens.scss';

.started {
	font-size: $ignite-font-size-md !important;
  font-weight: $ignite-font-weight-normal;
  margin-top: 70px;
  margin-bottom: 40px;
}

.btn {
  &.button-get-started {
  	margin-bottom: 50px;
  	background-color: $ignite-color-white;
  	color: $ignite-color-neutral-22;
  	text-decoration: none;
  	border: 2px solid $ignite-color-neutral-22;

    &:hover {
    	text-decoration: none;
    	color: $ignite-color-white;
    	background-color: $ignite-color-neutral-22;
    }
  }
}
