// import ignitus token variables
@import './src/shared/styles/ignitus-components-common.scss';

.welcome {
  width: 100%;
  height: 57px;
  text-align: center;
  margin-top: 5%;
  font-family: Raleway; 
  font-style: normal; 
  font-weight: 600; 
  font-size: 3.5vw; 
  line-height: 1vw;
  color: #000066;
}
.progress-bar-signup {
  padding-left: 15vw;
  padding-top: 4vw;
  padding-right: 10vw;
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

.content1 {
  text-align: center;
  width: 100%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 2vw;
  line-height: 2.5vw;
  color: #2D2D2D;
}

.flex-profile {
  display: flex;
  width: 100%;
  height: 30vw;
}
.country {
  font-family: Raleway;
  font-style: normal;
  font-weight: 1vw;
  font-size: 1.3vw;
  line-height: 1.5vw;
  color: #000066;
  width: 50%;
  margin-left: 10vw;
  margin-top: 3vw;
}

.dropdown {
  border: 2px solid #000066;
  box-sizing: border-box;
  border-radius: 6px;
  width: 30vw;
  height: 2.5vw;
  margin-left: 10vw;
  background-color: white;
  padding: 0.2vw;
  padding-left: 1vw;
  font-size: 1vw;
}
.image_map {
  width: 50%;
  padding: 1vw;
  margin-left: 2vw;
}
div.image_map>img {
  margin-left: -16vw;
  margin-top: -7vw;
}

.save-button {
  width: 15vw;
  background: #000066;
  border-radius: 38px;
}
.save {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2vw;
  line-height: 1vw;
  color: white;
}
.skip {
  font-family: Raleway;
  font-style: normal;
  font-size: 1.2vw;
  line-height: 2vw;
  width: 100%;
  text-align: center;
  color: #4D4D4D;
}

option {
  font-family: Raleway;
  font-style: normal;
  font-weight: 1vw;
  font-size: 1vw;
  line-height: 1vw;
}

.newsletter>img {
  max-width: 100%;
  margin: auto;
  display: block;
}

#confirm {
  font-size: 2.5vw;
}

.checkboxes{
  padding-top: 50px;
  padding-left: 200px;
  width: 50%;
}

.group17{
  width:50%;
}

.cbox{
  padding: 1% 20%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

/* secondary text color */

color: #4D4D4D;
}

.flex-interest{
  display: flex;
  padding: 80px 0;
}


input{
  background: #C4C4C4;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  
}

#content5 {
  padding-left: 20vw;
  padding-right: 20vw;
  font-size: 1.5vw;
  line-height: 1.8vw;
}

.email_confirmed {
  background: #000066;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  max-width: 100%;
  width: 15vw;
  height: 3vw;
}

.no_email {
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  margin-left: 2.5vw;
  width: 18vw;
  height: 3vw;
}
.email_confirmed_text {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 1vw;
  color: #FFFFFF;
}

.no_email_text {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 1vw;
  color: #000066
}

.display-block {
  margin: auto;
  display: table;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.get-started {
  background: #000066;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  height: 3vw;
  width: 12vw;
  margin-top: 2vw;
}
