$base-color: #000e8c;
$hover-color: #f9bf64;

.navbar {
  align-items: center;
  display:flex;
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9001;
  justify-content: space-between;
  transition: background-color 300ms ease-in;
}

.navlinks{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:1rem;
}

.navlinks-item{
  padding:0rem 1rem;
  align-self: stretch;
}

.navlink{
  color: #fff;
  font-size: 14px;
  font-weight: 700;

  &:hover {
    color: $hover-color;
  }
}

#burger{
  width:1.5rem;
  height:1.5rem;
  position: absolute;
  top:1.2rem;
  right:2rem;
  display:none;
  cursor:pointer;
}

.line{
  display:block;
  background-color: $base-color;
  padding:0.1rem 0.8rem;
  width:0.1rem;
  margin:0.3rem;
  border-radius:1rem;
  transition:transform 100ms ease-in-out;
}

.navbar.whitenav{
  background-color:#fff;
  .navlink{
    color: $base-color;

    &:hover {
      color: $hover-color;
    }
  }
}

.line.mobile:first-of-type{
  transform: rotateZ(46deg) translateY(0.3rem) translateX(1px);
}

.line.mobile:last-child{
  transform: rotateZ(-43deg) translateY(-0.3rem);
}

.line.mobile:nth-child(2){
  display:none;
}

@media only screen and (max-width:1042px){

  #burger{
    display:block;
    top:1.2rem;
  }

  .navbar{
    flex-direction: column;
    background:#fff;
  }

  .navlinks.mobile{
    display:none;
  }

  .navlinks{
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:100%;
  }

  .navlinks-item{
    margin-left:0rem;
    margin-bottom:1rem;
  }

  .navbar-brand{
    align-self: flex-start;
    margin-left:5px;
  }

  .navlink{
    color: $base-color;
  }

}
