._container {
    max-width: 800px;
    margin-top: 80px;
}

._img {
	width: 150px;
	height: 150px;
}

._or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
._or-seperator i {
    padding: 0 10px;
    background: white;
    position: relative;
    top: -11px;
    z-index: 1;
}

._img-login {
    /* flex-grow: 1; */
    flex-basis: 57%;
}

.text-below-image {
    background-color: #f1f9fe;
    flex-basis: 43%;
}

.text-below-image p:nth-child(1) {
    font-size: 25px;
}

.text-below-image p:nth-child(2) {
    font-size: 18px;
}

.container-image {
    display: flex;
    flex-direction: column;
}
