// import ignitus token variables
@import '../../../../ignitus-Shared/styles/ignitus-components-common.scss';
@import '../../ignitus-EmailFlow/Styles/style.scss';

.emailConfirm {
  background-color: white;
  height: 43rem;
}

.newsletter > img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.saveText {
  color: #ffffff;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.8rem;
}

.welcome {
  color: #000066;
  font-family: Raleway;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  margin-top: 3rem;
  text-align: center;
  width: 100%;
}

.progressBarSignup {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 4rem;
}

.getStarted {
  background: #000066;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  height: 2rem;
  margin-top: 1.6rem;
  width: 10rem;
}
