@import '../../styles/ignitus-components-common.scss';
@import '../../styles/ignitus-tokens.scss';

.hodo {
  position: absolute;
  height: 121px;
  width: 276px;
  left: 1072px;
  top: 116px;
  background: $ignite-background-color-white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.column {
  line-height: 16px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-between;
}

a {
  font-family: $ignite-font-family-default;
  font-weight: $ignite-font-weight-normal;
  font-style: normal;
  font-size: 14px;
  color: $ignite-color-gray-20;
}

a:hover {
  color: $ignite-color-blue-bg;
}

.columnOne {
  padding:10px;
}

.columnTwo {
  padding: 8px;
}

.columnThree {
  font-size: 14px;
  color: $ignite-color-blue-bg;
  padding: 8px;
}
