// import ignitus token variables
@import './src/shared/styles/ignitus-tokens.scss';

.ignitus-color {
  font-weight: $ignite-font-weight-normal;
  font-size: $ignite-font-size-lg;
  color: $ignite-text-color-heading;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-shadow {
  border: 0;

  &:hover {
    box-shadow: 0 4px 8px 0 $ignite-color-neutral-60, 0 6px 20px 0 $ignite-color-neutral-60;
  }
}

.cardHeight {
  height: 135px;
}


.flatten-text {
  text-align: center;
}
