@import './src/shared/styles/ignitus-tokens.scss';

.write-post-container{
    background-color: $ignite-color-white;
    width: 528px;
    height: 138px;
    border: 1px solid black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);
    border-radius: 16px;
    margin: 20px 40px;
    textarea{
        width: 100%;
    }
}

.btn-font{
    font-size: 12px;       
}

.post-icons{
    position: absolute;
    width: 219px;
    height: 26px;
    background: #E0E0E0;
    border-radius: 16px;

    ul{
        display: flex;
        justify-content: space-around;
        
        li{
            list-style-type: none;
            color: $ignite-color-blue-bg;
        }
    }
}