// import ignitus token variables
@import './src/shared/styles/ignitus-components-common.scss';
@import '../../profile/Styles/style.scss';

.email {
  height: 48rem;
  background-color: white;
}

.newsletter > img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.confirmParagraph {
  width: 100%;
  height: 57px;
  text-align: center;
  margin-top: 4rem;
  color: #000066;
  font-family: Raleway;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
}

.paragraph {
  text-align: center;
  width: 100%;
  color: #2d2d2d;
  font-family: Raleway;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

.emailConfirmed {
  background: #000066;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  max-width: 100%;
  width: 12rem;
  height: 2.5rem;
}

.noEmail {
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  margin-left: 2rem;
  width: 12rem;
  height: 2.5rem;
}

.emailConfirmedText {
  color: #ffffff;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.8rem;
}

.noEmailText {
  color: #000066;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.8rem;
}

.emailConfirmContainer {
  display: table;
  margin: auto;
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
}
