.footer{
  background-color:#000066;
  padding-bottom:1rem;
}

.container{
  max-width:72rem;
  min-height:20vh;
  display:flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer-parts{
  width:max-content;
  margin:0rem 2rem;
}

.footer-head{
  color:#fff;
  font-weight:bold;
}

.footerlinks{
  display:flex;
  flex-direction: column;
}

.footerlinks-item{
  padding:2px;
}

.footerlink:link,.footerlink:visited{
  color:#fff;
}

.footerlink:hover,.footerlink:active{
  color:#F9BF64;
}

.footer-logo{
  width:6rem;
  height:auto;
  margin-top: 1rem;
}


.socials{
  max-width:max-content;
  margin:2rem auto;
}

.footer-socials{
  display:flex;
}

.footer-social-item{
  padding:0rem 0.5rem;
}

.copyright{
  text-align:center;
  color:#fff;
  font-weight:bold;
  letter-spacing: 1px;
}

@media only screen and (max-width:792px){
  .container{
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer-parts{
    align-self: center;
    padding:1rem;
    margin:0;
    margin-bottom:0.5rem;
    max-width:15rem;
    text-align:center;
    transition: max-height 1s ease-in;
  }
  
  .footerlinks{
    display:none;
  }
  
  .footerlinks-item{
    align-self: center;
  }
  
  .footerlinks.hide{
    display:block;
  }
  
  .footer-logo{
    margin:1rem;
  }
}
