// import ignitus token variables
@import './src/shared/styles/ignitus-tokens.scss';

nav {
  background-color: $ignite-color-gray-12;

  button {
    .fa-bars {
      position: relative;
      z-index: 5;
      color: $ignite-color-blue-20;
      font-size: $ignite-font-size-md + 6px;
    }

    &:focus {
      outline: none;
    }
  }
}

.navbar {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9001;
}

.nav li a {
  color: $ignite-color-blue-20;
  font-weight: $ignite-font-weight-bold;
  font-size: $ignite-font-size-xs;

  &:hover {
    color: $ignite-color-yellow;
  }
}

@media (min-width: 992px) {
  nav {
    .navbar-collapse {
      width: 100%;
      flex-grow: 0;
      justify-content: flex-end;

      position: fixed;
      right: 0;
      padding-right: 2%;

      .nav-item {
        margin-right: 3%;
        padding: 0;

        .nav-link {
          padding: 0.25rem 1rem;
        }
      }

      .navbar-nav {
        width: 100%;
        display: flex;
      }
    }

    @media(max-width: 1232px) {
      .nav li a {
        font-size: 12px;
      }
    }
  }

  .nav li a {
    color: $ignite-background-color-white;
    transition: color 300ms ease-in;
  }

  #signup {
    background-color: $ignite-background-color-white;

    a {
      color: $ignite-color-blue-20;
    }
  }

  #signin:hover {
    a {
      color: $ignite-background-color-white;
    }
  }

  .dropdown {
    border: 1px solid $ignite-background-color-white;
    padding: 10px inherit;
    border-radius: 12px;
  }

  .nav {
      justify-content: space-around;
      flex-wrap: nowrap !important;
      width: 65% !important;
  }

  .transparent {
    background-color: transparent;
    transition: background-color 300ms ease-in;
  }

  .content-container .whitenav {
    background-color: white;

   -webkit-box-shadow: 0 8px 6px -6px $ignite-color-neutral-22;
   -moz-box-shadow: 0 8px 6px -6px $ignite-color-neutral-22;
    box-shadow: 0 8px 6px -6px $ignite-color-neutral-22;

    transition: background-color 700ms;

    li a {
      color: $ignite-color-blue-20;
      transition: color 700ms;

      &:hover {
        color: $ignite-color-yellow;
      }
    }

    #signin:hover, #signup:hover {
      a {
        color: $ignite-color-yellow;
      }
    }
  }
}
