// import ignitus token variables
@import './src/ignitus-shared/styles/ignitus-tokens';

nav {
  // background-color: $ignite-color-gray-12;
 
  button {
   
    position: relative;
    
    &:focus {
      outline: none;
    }
  }
}

.darkblue-background{
  background: #000066 !important;
}

.transparent-background {
  background-color: transparent;
  transition: background-color 300ms ease-in;
}

.navbar {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9001;
}

.nav li a {
  color: $ignite-color-blue-20;
  font-weight: $ignite-font-weight-bold;
  font-size: $ignite-font-size-xs;

  &:hover {
    color: $ignite-color-yellow;
  }
}

@media (min-width: 992px) {
  nav {
    .navbar-collapse {
      width: 100%;
      flex-grow: 0;
      justify-content: flex-end;

      position: fixed;
      right: 0;
      padding-right: 2%;

      .nav-item {
        margin-right: 3%;
        padding: 0;

        .nav-link {
          padding: 0.25rem 1rem;
        }
      }

      .navbar-nav {
        width: 100%;
        display: flex;
      }
    }

    @media(max-width: 1232px) {
      .nav li a {
        font-size: 12px;
      }
    }
  }

  .nav li a {
    color: $ignite-background-color-white;
    transition: color 200ms ease-in;
  }

  #signup {
    border: none !important;
  }

  #signin{
    border: none !important;
  }

  .dropdown {
    border: 1px solid $ignite-background-color-white;
    padding: 10px inherit;
    border-radius: 12px;
  }

  .nav {
      justify-content: space-around;
      flex-wrap: nowrap !important;
      width: 65% !important;
  }

  .content-container .whitenav {
    background-color: white;

   -webkit-box-shadow: 0 8px 6px -6px $ignite-color-neutral-22;
   -moz-box-shadow: 0 8px 6px -6px $ignite-color-neutral-22;
    box-shadow: 0 8px 6px -6px $ignite-color-neutral-22;

    transition: background-color 700ms;

    li a {
      color: $ignite-color-blue-20;
      transition: color 700ms;

      &:hover {
        color: $ignite-color-yellow;
      }
    }

    #signin:hover, #signup:hover {
      a {
        color: $ignite-color-yellow;
      }
    }
  }
}

@media (max-width: 992px) { 
  nav {
    background-color: white;
    box-shadow: 0 8px 6px -6px #343a40;
  }  
}

 .navbar-toggler {
	&:focus, &:active {
		outline: 0;
		position: relative;
  }
  
	span {
		display: block;
    height: 3px;
		width: 25px;
		margin-top: 4px;
		margin-bottom: 4px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		left: 0;
		opacity: 1;
		position: relative;
		z-index: 5;
    background-color: $ignite-color-blue-20;
    
		&:nth-child(1), &:nth-child(3) {
			-webkit-transition: transform .35s ease-in-out;
			-moz-transition: transform .35s ease-in-out;
			-o-transition: transform .35s ease-in-out;
			transition: transform .35s ease-in-out;
    }
    
  }
  
	&:not(.collapsed) {
		span {
			&:nth-child(1) {
				position: absolute;
				left: 12px;
				top: 10px;
				-webkit-transform: rotate(135deg);
				-moz-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				transform: rotate(135deg);
				opacity: 0.9;
      }
      
			&:nth-child(2) {
				height: 12px;
				visibility: hidden;
				background-color: transparent;
      }
      
			&:nth-child(3) {
				position: absolute;
				left: 12px;
				top: 10px;
				-webkit-transform: rotate(-135deg);
				-moz-transform: rotate(-135deg);
				-o-transform: rotate(-135deg);
				transform: rotate(-135deg);
				opacity: 0.9;
			}
		}
	}
}
