$base-color: #000066;
$white-bg: #fff;
$link-color: #939393;

.cardOuter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  margin: 200px 30px;
  justify-content: center;
  background-color: $white-bg;
  color: $base-color;
  position: relative;
  border-radius: 15px;
}

.cardMain {
  flex-basis: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardImage {
  flex-basis: 30%;
  padding: 0 2em;

  img {
    height: 150px;
    border-radius: 10px;
  }
}

.cardInfo {
  flex-basis: 70%;
}

.cardContact {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.cardLinks {
  flex-basis: 100%;
}

.contactInfo {
  flex-basis: 100%;
}

.textIcon {
  padding-left: 20px;
  position: relative;
  vertical-align: bottom;
  
  span {
    display: inline-block;
    width: 20px;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    
    i {
      font-size: 1.2em;
      font-weight: 500;
      left: 0;
      position: absolute;
      top: 0;
      }
  }
}

.card-links {
  text-align: left;
  margin: 1em 0;
  i {
    color: $base-color;
    font-size: 2em;
    margin-right: 1em;
  }
}

.trackPerson {
  position: absolute;
  right: 20px;
  top: 0;
  padding: 5px;
  
  p {
    padding-right: 40px;
    vertical-align: middle;
   }

  .fa {
    position: absolute;
    top: -5px; 
    color: #000066;
    font-size: 2.5em;
    right: 0;
 }
}


// Dropdown Button

.btn-outer {
  position: relative;
}

.custom-dropdown-btn {
  color: $link-color;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
  transition: all 0.4s;
  width: fit-content;

  &:hover {

    .custom-dropdown-menu {
      display: block;
    }
  }
}

.custom-dropdown-menu {
  z-index: 3;
  position: absolute;
  top: 30px;
  left: 0;
  border-radius: 10px 0 10px 10px;
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.1);
  background-color: $white-bg;
  color: $base-color;
  display: none;
  font-weight: 400;

  &:hover {
    display: block;
  }
  
  li {
    padding: 0.5em 1em;
    font-size: 14px;
    width: 200px;
    
    &:first-child {
      border-top-left-radius: 10px;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:hover {
      color: $white-bg;
      background-color: $base-color;
      cursor: pointer;
    }
  }
}


@media screen and (max-width: "576px")
{
  .cardMain {
    flex-basis: 100%;
    margin-top: 1.1em;
  }

  .cardContact {
    flex-basis: 60%;
    align-items: center;
    margin-top: 10px;
  }

  .card-links {

    i {
      margin-left: 1em;
      margin-right: 0;
    }
  }
}

@media screen and (max-width:"400px") {
  .cardImage {
    flex-basis: 20%;
    
    img {
      height: 100px;
      padding: 0 1em;

    }
    
   .cardMain {
     flex-basis: 80%;
   } 
  }
}