$base-color: #000066;
$white-bg: #fff;
$link-color: #939393;

.list-item {
  padding: 2em 1em;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  background-color: $white-bg;
  color: $base-color;
}

.profile-details {
  padding-left: 150px;
  padding-top: 20px;
  flex-basis: 50%;
  max-width: 50%;
  position: relative;
}

.avatar-div {
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  margin-right: 20px;
  width: 150px;
}

.profile-avatar {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.description {
  margin-left: 15px;
}

.profile-details-heading {
  color: $base-color;
  font-weight: 700;
}

.profile-contact {
  flex-basis: 50%;
  max-width: 50%;
  padding-left: 30px;
}

.track-person {
  position: absolute;
  right: 20px;
  top: 0;
  padding: 5px;
  
  p {
    padding-right: 40px;
    vertical-align: middle;
   }

  .fa {
    position: absolute;
    top: 0; 
    color: #000066;
    font-size: 2.5em;
    right: 0;
    background-color: $white-bg;
 }
}

.card-links {
  text-align: left;
  margin: 1em 0;
  i {
    color: $base-color;
    font-size: 2em;
    margin-right: 1em;
  }
}

.text-icon {
  padding-left: 20px;
  position: relative;
  vertical-align: bottom;
  
  span {
    display: inline-block;
    width: 20px;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    
    i {
      font-size: 1.2em;
      font-weight: 500;
      left: 0;
      position: absolute;
      top: 0;
      }
  }
}

.contact-modes{
  font-size: 1em;
  font-weight: 400;
}

// Dropdown Button

.btn-outer {
  position: relative;
}

.custom-dropdown-btn {
  color: $link-color;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
  transition: all 0.4s;
  width: fit-content;

  &:hover {
    .custom-dropdown-menu {
      display: block;
    }
  }
}

.custom-dropdown-menu {
  z-index: 3;
  position: absolute;
  top: 30px;
  left: 0;
  border-radius: 10px 0 10px 0;
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.1);
  background-color: $white-bg;
  color: $base-color;
  display: none;
  font-weight: 400;

  &:hover {
    display: block;
  }
  li {
    padding: 0.5em 1em;
    font-size: 14px;
    width: 200px;
    
    &:hover {
      color: $white-bg;
      background-color: $base-color;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: "768px")
{
  .list-item {
    justify-content: center;
  }

  .profile-details,
  .profile-contact {
    flex-basis: 100%;
    max-width: 100%;
    margin: 5px 0;
  }

  .profile-contact {
    padding: 0;
  }

  .card-links,
  .contact-modes {
    width: fit-content;
    margin: 10px auto;
    text-align: center;
  }

  .card-links {
    i {
      margin: 0 0 0 1em;
    }
  }
}

@media screen and (max-width: "576px")
{
  .avatar-div {
    position: relative;
    margin: 0;
    flex-basis: 50%;
    max-width: 50%;
  }

  .profile-details {
    display: flex;
    margin: 20px 0;
    text-align: center;
    padding-left: 0;
  }

  .description {
    flex-basis: 50%;
    max-width: 50%;
    .text-icon {
      width: max-content;
      margin: 10px auto;
    }
  }
}