html * {
	font-size: 16px;
	font-family: Raleway;
  margin: 0;
}

a {
	text-decoration: none;
}

hr {
	margin: 1rem 0;
}

a:hover {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.content-container {
	background: #f7f7f7;
}
