html * {
	font-size: 16px;
	font-family: Raleway;
	margin: 0;
}

a {
	text-decoration: none;
}

hr {
	margin: 1rem 0;
	border-top: 1px solid #e0dfde;
}

a:hover {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
