// import ignitus token variables
@import './src/shared/styles/ignitus-components-common';

.signUp {
  background-color: white;
  height: 55rem;
}

.welcome {
  color: #000066;
  font-family: Raleway;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  height: 3rem;
  line-height: 1rem;
  margin-top: 4rem;
  text-align: center;
  width: 100%;
}

.progressBarSignup {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 4rem;
}

.paragragh {
  color: #2d2d2d;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1rem;
  text-align: center;
  width: 100%;
}

.infoContainer {
  display: flex;
  height: 25rem;
  width: 100%;
}

.labelDropdown {
  color: #000066;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 0.8rem;
  line-height: 1rem;
  margin-left: 8rem;
  margin-top: 2rem;
  width: 50%;
}

.dropdown {
  background-color: #ffffff;
  border: 2px solid #000066;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 0.8rem;
  height: 2rem;
  margin-left: 8rem;
  padding: 0.1rem;
  padding-left: 0.8rem;
  width: 25rem;
}

.profileImageMap {
  margin-left: -16rem;
  margin-top: -5.5rem;
  padding: 0.8rem;
  width: 40rem;
}

.saveButton {
  background: #000066;
  border-radius: 38rem;
  width: 12rem;
}

.saveText {
  color: #ffffff;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.8rem;
}

.skip {
  color: #4d4d4d;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.6rem;
  text-align: center;
  width: 100%;
}

option {
  font-family: Raleway;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 0.8rem;
  line-height: 0.8rem;
}
