
    .social-btn .btn i {
        margin: 4px 15px  0 5px;
        min-width: 15px;
    }

    .or-seperator {
        margin: 20px auto 10px;
        text-align: center;
        border-top: 1px solid black;
        width: 30%;

    }
    .or-seperator i {
        padding: 0 10px;
        background:#808000;
        position: relative;
        top: -11px;
        z-index: 1;
    }

.text-secondary {
    color: black !important;
    text-align: center;
    
}


._form{
    background:#808000;
    height: 585px;
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    color: black;
    padding-top: 1px;
}

.btn-block {
    width: 50% !important;
}


._img-css {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

._linkedin{
    align-items: center;
    justify-content: center;
    display: flex;
}

._input{
    width: 60%;
    margin-right: auto;
    margin-left: auto;

}

._checkbox{
    margin-left: 70px;
    color: white;
}

.btn-primary {
    background-color: #0275b6 !important;
    border-color: #0275b6 !important;
    border-radius: 60px !important;

}


.btn-success {
    color: #fff;
    background-color: #808000;
    border-color: #28a745;
    border-radius: 60px;
    text-align: center;
}

._link{
    text-decoration:underline;
    color: black;
}

._link:hover{
    text-decoration:underline;
    color: grey;
    text-decoration-style:solid;
}

._vertical{
    vertical-align: middle;
}
