// import ignitus token variables
@import './src/ignitus-shared/styles/ignitus-tokens';

.marginTop {
	margin-top: 7rem !important;
}

.dashboard-container{
	display: grid;
	grid-template-areas: "left-section center-section right-section";
	grid-template-columns: 1fr 2fr 1fr;
}

.left-section{
	grid-area: left-section;
}

.center-section{
	grid-area: center-section;
}

.right-section{
	grid-area: right-section;
}